swagger: '2.0'
info:
  description: >-
    Welcome to the swapi, the Star Wars API! This documentation should help you
    familiarise yourself with the resources available and how to consume them
    with HTTP requests. If you're after a native helper library then I suggest
    you scroll down and check out what's available. Read through the getting
    started section before you dive in. Most of your problems should be solved
    just by reading through it.
  version: 1.0.0
  title: 'SWAPI : The Star Wars API'
  termsOfService: blah blah
host: swapi.co
basePath: /api
tags:
  - name: Swapi
    description: >-
      The resource provides information on all available people, planets, films,
      species, vehicles, starships.
    externalDocs:
      description: Find out more
      url: 'http://swapi.co/documentation#root'
  - name: People
    description: The resource provides information on all available people in Star Wars.
    externalDocs:
      description: Find out more
      url: 'http://swapi.co/documentation#people'
  - name: Films
    description: >-
      The resource provides information on all released films in Star Wars
      Series.
    externalDocs:
      description: Find out more
      url: 'http://swapi.co/documentation#films'
  - name: Starships
    description: >-
      The resource provides information on all Starships used in Star Wars
      Series.
    externalDocs:
      description: Find out more
      url: 'http://swapi.co/documentation#starships'
  - name: Vehicles
    description: >-
      The resource provides information on all Vehicles used in Star Wars
      Series.
    externalDocs:
      description: Find out more
      url: 'http://swapi.co/documentation#vehicles'
  - name: Planets
    description: >-
      The resource provides information on all Planets featured in Star Wars
      Series.
    externalDocs:
      description: Find out more
      url: 'http://swapi.co/documentation#planets'
  - name: Species
    description: >-
      The resource provides information on all Species featured in Star Wars
      Series.
    externalDocs:
      description: Find out more
      url: 'http://swapi.co/documentation#species'
schemes:
  - http
paths:
  /:
    get:
      tags:
        - Swapi
      summary: >-
        The Root resource provides information on all available resources within
        the API.
      description: ''
      operationId: getResources
      produces:
        - application/json
      responses:
        '405':
          description: Invalid input
  /people:
    get:
      tags:
        - People
      summary: Get all the people resources.
      operationId: getAllPeople
      produces:
        - application/json
      responses:
        '200':
          description: successful operation
        '400':
          description: Invalid status value
  '/people/:id':
    get:
      tags:
        - People
      summary: Get a specific people resource.
      operationId: getPeopleByID
      produces:
        - application/json
      responses:
        '200':
          description: successful operation
        '400':
          description: Invalid status value
  /people/schema:
    get:
      tags:
        - People
      summary: view the JSON schema for this resource
      operationId: getPeopleSchema
      produces:
        - application/json
      responses:
        '200':
          description: successful operation
        '400':
          description: Invalid status value
  /films:
    get:
      tags:
        - Films
      summary: Get all the people resources.
      operationId: getAllFilms
      produces:
        - application/json
      responses:
        '200':
          description: successful operation
        '400':
          description: Invalid status value
  '/films/:id':
    get:
      tags:
        - Films
      summary: Get a specific people resource.
      operationId: getFilmByID
      produces:
        - application/json
      responses:
        '200':
          description: successful operation
        '400':
          description: Invalid status value
  /films/schema:
    get:
      tags:
        - Films
      summary: view the JSON schema for this resource
      operationId: getFilmSchema
      produces:
        - application/json
      responses:
        '200':
          description: successful operation
        '400':
          description: Invalid status value
  /starships:
    get:
      tags:
        - Starships
      summary: Get all the people resources.
      operationId: getAllStarships
      produces:
        - application/json
      responses:
        '200':
          description: successful operation
        '400':
          description: Invalid status value
  '/startships/:id':
    get:
      tags:
        - Starships
      summary: Get a specific people resource.
      operationId: getStarshipByID
      produces:
        - application/json
      responses:
        '200':
          description: successful operation
        '400':
          description: Invalid status value
  /starships/schema:
    get:
      tags:
        - Starships
      summary: view the JSON schema for this resource
      operationId: getStarshipSchema
      produces:
        - application/json
      responses:
        '200':
          description: successful operation
        '400':
          description: Invalid status value
  /vehicles:
    get:
      tags:
        - Vehicles
      summary: Get all the people resources.
      operationId: getAllVehicles
      produces:
        - application/json
      responses:
        '200':
          description: successful operation
        '400':
          description: Invalid status value
  '/vehicles/:id':
    get:
      tags:
        - Vehicles
      summary: Get a specific people resource.
      operationId: getVehiclesByID
      produces:
        - application/json
      responses:
        '200':
          description: successful operation
        '400':
          description: Invalid status value
  /vehicles/schema:
    get:
      tags:
        - Vehicles
      summary: view the JSON schema for this resource
      operationId: getVehicleSchema
      produces:
        - application/json
      responses:
        '200':
          description: successful operation
        '400':
          description: Invalid status value
  /planets:
    get:
      tags:
        - Planets
      summary: Get all the people resources.
      operationId: getAllPlanets
      produces:
        - application/json
      responses:
        '200':
          description: successful operation
        '400':
          description: Invalid status value
  '/planets/:id':
    get:
      tags:
        - Planets
      summary: Get a specific people resource.
      operationId: getPlanetByID
      produces:
        - application/json
      responses:
        '200':
          description: successful operation
        '400':
          description: Invalid status value
  /planets/schema:
    get:
      tags:
        - Planets
      summary: view the JSON schema for this resource
      operationId: getPlanetSchema
      produces:
        - application/json
      responses:
        '200':
          description: successful operation
        '400':
          description: Invalid status value
  /species:
    get:
      tags:
        - Species
      summary: Get all the people resources.
      operationId: getAllSpecies
      produces:
        - application/json
      responses:
        '200':
          description: successful operation
        '400':
          description: Invalid status value
  '/species/:id':
    get:
      tags:
        - Species
      summary: Get a specific people resource.
      operationId: getSpeciesByID
      produces:
        - application/json
      responses:
        '200':
          description: successful operation
        '400':
          description: Invalid status value
  /species/schema:
    get:
      tags:
        - Species
      summary: view the JSON schema for this resource
      operationId: getSpecieSchema
      produces:
        - application/json
      responses:
        '200':
          description: successful operation
        '400':
          description: Invalid status value
externalDocs:
  description: Find out more about SWAPI
  url: 'http://swapi.co'
